.chips_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_hero_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.socials_card {
    display: flex;
    justify-self: center;
    align-self: flex-end;
}

