.navBar {
   display: flex; 
   justify-content: space-between;
   align-items: center;
   flex-flow: row wrap;
}

.filler {
   display: flex;
   flex: 1 1 auto;
}

.nav_bar_btn_container {
   display: flex;
   flex-flow: row wrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.nav_bar_btn {
   margin: 15px;
}